@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">nice working with you all ....keep learning  keep going </h1>
    <h2> My Name is SHASHANK KUMAR <h2>
    Thanku for visiting my web application...
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
